@font-face {
  font-family: Quando;
  src: url("../public/Font/Quando-Regular.ttf");
  font-display: swap;
}

body{
  background-color: #fafafa;
  background-image: radial-gradient(rgba(12, 12, 12, 0.085) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
  overflow: hidden;
  font-family: Quando;
}

/* -------------------------------- MAIN-CARD --------------------------------  */

.main{
  width: 100%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main_photo {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
  transition: .2s ease-in-out;
}

.main_photo:hover{
  cursor: pointer;
  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 60px 40px -7px;
}

.main_photo:active{
  scale: 1;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

#main_image { 
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_text {
  position: absolute;
  font-size: 1.75em;
  text-wrap: wrap;    
  color: #ffffff;
  display: flex;
  flex-direction: row;
  text-align: center;
  column-gap: 0.4em;
}

/* -------------------------------- GALLERY-OVERLAY --------------------------------  */

.gallery-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 2;
}

.gallery-container {
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 80%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.gallerytext{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: clamp(1rem, 0.3043rem + 3.4783vw, 2rem);
}

.gallery-container.show {
  opacity: 1;
}

/* -------------------------------- NEXT-PREV-CLOSE --------------------------------  */

.prev,
.next,
.close {
  position: absolute;
  top: 50%;
  font-size: 2em;
  color: #fff;
  cursor: pointer;
  user-select: none;
}

.prev {
  position: relative;
  top: 55%;
  left: 0;
}

.next {
  position: relative;
  top: 55%;
  left: 0;
}

.close {
  top: 10px;
  right: 20px;
}

/* -------------------------------- GIT-STAR --------------------------------  */

.git_star{
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;
  font-size: 0.75em;
  height: 2.5em;
  text-wrap: nowrap;
  padding: 0.75em;
  font-family: Quando;
  font-weight: bold;
  color: black;
  background-color: #EAECF0;
  border: 1px solid #cccccc;
  outline: none;
  border-radius: 5px;
  transition: .2s ease-in-out;
  cursor: pointer;
}
.git_star:hover{
  opacity: 0.7;
}
#star{
  fill: black;
}
/*.git_star:hover #star{
  fill: yellow;
  filter: url(#sofGlow);
}*/

/* -------------------------------- LOADING-ANIMATION --------------------------------  */

.loading {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.load {
  width: 23px;
  height: 3px;
  background-color: limegreen;
  animation: 1s move_5011 infinite;
  border-radius: 5px;
  margin: 0.1em;
}

.load:nth-child(1) {
  animation-delay: 0.2s;
}

.load:nth-child(2) {
  animation-delay: 0.4s;
}

.load:nth-child(3) {
  animation-delay: 0.6s;
}

@keyframes move_5011 {
  0% {
    width: 0.2em;
  }

  25% {
    width: 0.7em;
  }

  50% {
    width: 1.5em;
  }

  100% {
    width: 0.2em;
  }
}

/* -------------------------------- MEDIA-QUERIES --------------------------------  */

@media only screen and (max-width: 2200px) {
  .main_photo{
    width: 70%;
    height: 60%;
  }
}
@media only screen and (max-width: 1500px) {
  .main_photo{
    width: 90%;
    height: 50%;
  }
}
@media only screen and (max-width: 1000px) {
  .main_photo{
    width: 90%;
    height: 40%;
  }
}
@media only screen and (max-width: 700px) {
  .main_photo{
    width: 90%;
    height: 30%;
  }
}
@media only screen and (max-width: 910px) {
  .main_text {
      font-size: 1.25em;
  }
}
@media only screen and (max-width: 610px) {
  .main_text {
      flex-direction: column;
      text-align: center;
  }
}
@media only screen and (max-width: 335px) {
  .main_text {
      font-size: 1em;
  }
}
@media only screen and (max-width: 265px) {
  .main_text {
      font-size: 0.75em;
  }
}


/* SMALL-DEVICE */

.small_device{
  width: 100%;
  height: 100dvh;
  display: none;
  padding: 5px;
  background-color: #fafafa;
  background-image: radial-gradient(rgba(12, 12, 12, 0.085) 2px, transparent 0);
  background-size: 30px 30px;
  background-position: -5px -5px;
  -moz-background-size: 30px 30px;
  -o-background-size: 30px 30px;
  -webkit-background-size: 30px 30px;
}
.small_device_card{
  padding: 10px;
  margin: 0.5em;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid #e0e0e0;
}
.small_device_text{
  font-family: Quando;
  font-weight: bold;
  font-size: clamp(0.1rem, 0.3043rem + 3.4783vw, 3rem);
  color: var(--Color4);
}

@media only screen and (max-width: 279px) {
  .main{
      display: none;
  }
  body{
    margin: 0;
    padding: 0;
  }
  .small_device{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      font-weight: bold;
      color: black;
      font-family: Josefin Slab;
      line-height: 1em;
  }
}
@media only screen and (max-width: 80px) {
  .small_device_card{
      border-radius: 5px;
  }
}